*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: black;
}
header ul li a:hover{
    background: white;
    border-radius: 5px;
    list-style: ;
}
header ul{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
li{
    margin-right: 20px;
    padding:20px 20px;
    
}
header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 4px;
    
}
body{
    background: linear-gradient(blue,white) 1000px;
    height: 100vh;
    
}

h1{
    font-size:50px;
}
nav{
    margin-left: 40vw;
    margin-top: 30vh;
}
.active{
    background-color: white;
    border-radius: 5px;
}