*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #eee;
}
header{
    padding: 20px;
    padding-left: 38%;
    font-size: 33px;
    background-color: white;
}
section{
    height: 545px;
}
footer{
    padding: 20px;
    padding-left: 40%;
    font-size: 33px;
    background-color: white;
}